## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstats

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## Local History
.localhistory/

## IDE
.vs/
.idea/
*.swp
*.swo
*~

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.*.json
*.db
